/* 
--- 01 TYPOGRAPHY ---
--Font Size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--Font Weight
-Default: 400
-700
-600

--Line Height 
-Default: 1
-1.5
-1.8
-2
-2.4

--Letter Spacing
-0.8px


--- 02 COLORS ---
--Primary: 
-#e67e22

--Tints:
-#fdf2e9
-#fae5d3

--Shades:
-#cf711f

--Accents: 
-#51cf66
-#94d82d
-#ffd43b

--Greys:
-#555
-#333
-#ddd

--- 03 SHADOWS ---
--Hero Button
-inset 0 0 0 3px white

--Card Shadow
-0 2.4rem 3.2rem rgba(0,0,0,0.08)

--- 04 BORDER-RADIUS ---
--Button
-0.8rem

--Pfp
-50%

--tag
-10rem

--- 05 WHITESPACE ---
--Spacing System
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ******************** */
/*** WEBPAGE ***/
/* ******************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
}

/* ******************** */
/*** GENERAL REUSABLE COMPONENTS ***/
/* ******************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading {
  font-size: 4.4rem;
  font-family: "Rubik", sans-serif;
  color: #333;
  line-height: 1.05;
  font-weight: 700;
}

.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #cf711f;
  letter-spacing: 0.8px;
  padding-bottom: 1.6rem;
}

.para {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.grid {
  display: grid;
  gap: 9.6rem;
  /* column-gap: 9.6rem;
  row-gap: 9.6rem; */
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

strong {
  font-weight: 500;
}
