/* ******************** */
/*** LINKS ***/
/* ******************** */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  background-color: #e67e22;
  padding: 1.6rem 3.2rem;
  color: #fff;
  border-radius: 0.8rem;
  transition: 0.5s;
}

.btn:active,
.btn:hover {
  background-color: #cf711f;
}

/*** HEADER ***/
.header-nav-nav:link,
.header-nav-nav:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: 0.5s;
}

.header-nav-nav:hover,
.header-nav-nav:active {
  color: #cf711f;
}

.nav-last:link,
.nav-last:visited {
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  color: white;
  border-radius: 0.8rem;
}

.nav-last:active,
.nav-last:hover {
  background-color: #cf711f;
}

/*** HERO SECTION ***/
.hero-btn:link,
.hero-btn:visited {
  margin-left: 2rem;
  background-color: white;
  color: #555;
}

.hero-btn:active,
.hero-btn:hover {
  background-color: #fdf2e9;
  /* border: 2px solid white; */
  box-shadow: inset 0 0 0 3px white;
}

/*** MEALS SECTION ***/
.see-all-recipe:link,
.see-all-recipe:visited {
  display: inline-block;
  color: #e67e22;
  padding-bottom: 0px;
  font-size: 1.8rem;
  text-transform: none;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: 0.5s;
}

.see-all-recipe:hover,
.see-all-recipe:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/*** FOOTER ***/
.footer-contact a:link,
.footer-contact a:visited {
  color: #767676;
  text-decoration: none;
}

.footer-contact a:hover,
.footer-contact a:active {
  color: #333;
}

.nav-col ul li a:link,
.nav-col ul li a:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #767676;
  transition: all 0.5s;
}

.nav-col ul li a:hover,
.nav-col ul li a:active {
  color: #333;
}
