/* ******************** */
/*** HEADER SECTION ***/
/* ******************** */
.header {
  background-color: #fdf2e9;
  height: 9.6rem; /*height is used because we want to make header sticky*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
}

.header-nav {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

/* ******************** */
/*** HERO SECTION ***/
/* ******************** */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  height: 100%;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-heading {
  font-size: 5.2rem;
  font-family: "ubuntu", sans-serif;
  margin-bottom: 3.2rem;
}

.hero-description {
  margin-bottom: 4.8rem;
}

.hero-delivery {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-top: 8rem;
}

.hero-people {
  display: flex;
}

.hero-pfp {
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #fdf2e9;
}

.hero-pfp:last-child {
  margin-right: 0;
}

.hero-delivered {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-bold {
  color: #cf711f;
  font-weight: 700;
  font-size: 1.8rem;
}

/* ******************** */
/*** FEATURED-IN SECTION ***/
/* ******************** */
.section-featuredin {
  padding: 4.8rem 0 3.2rem 0;
  filter: brightness(0);
  opacity: 50%;
}

.featured-head {
  text-align: center;
  padding-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.featured-companies {
  display: flex;
  justify-content: space-between;
  /* padding: 0 4rem; */
}

.companies-logo {
  height: 3.2rem;
}

/* ******************** */
/*** HOW-IT-WORKS SECTION ***/
/* ******************** */
.how-it-works {
  padding: 9.6rem 0;
}

.how-head {
  margin-bottom: 9.6rem;
}

.how-text-app {
  align-items: center;
}

.how-app {
  display: flex;
  justify-content: center;
  position: relative;
}

.how-app-img {
  width: 35%;
}

.how-app::before,
.how-app::after {
  display: block;
  content: "";
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -999;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-app::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
}

.how-text-head {
  font-size: 8.6rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
  color: #ddd;
}

.how-text-subhead {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 3.2rem;
  color: #333;
}

.how-text-para {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ******************** */
/*** MEALS SECTION ***/
/* ******************** */
.meals {
  padding: 9.6rem 0;
}

.meals-title {
  text-align: center;
}

.meals-head {
  text-align: center;
  margin-bottom: 9.6rem;
}

.meals-img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}

.meal-container {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.cards-list {
  gap: 8.4rem;
}

.tag {
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
}

.gyozas-tag {
  background-color: #51cf66;
}

.vegan-tag {
  background-color: #94d82d;
}

.paleo-tag {
  background-color: #ffd43b;
}

.meals-subhead {
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  padding: 1.6rem 0 2.4rem 0;
}

.card {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  transition: 0.7s;
}

.card:hover {
  transform: translate(0rem, -2rem);
}

.list-head {
  font-size: 3rem;
  padding-bottom: 3.2rem;
  padding-top: 1rem;
}

.see-all {
  text-align: center;
  padding-top: 4.8rem;
}

/* ******************** */
/*** TESTIMONIALS SECTION ***/
/* ******************** */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-para {
  letter-spacing: 0.8px;
  font-size: 1.8rem;
}

.customers {
  align-items: center;
  column-gap: 8rem;
  row-gap: 4.8rem;
}

.customer {
  display: grid;
}

.review-testimonials {
  padding: 6.4rem;
  align-items: center;
}

.customer-img {
  border-radius: 50%;
  height: 6.4rem;
  margin-bottom: 1.6rem;
}

.testimonials-heading {
  margin-bottom: 4.8rem;
}

.gallery {
  gap: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: 0.5s;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ******************** */
/*** PRICING SECTION ***/
/* ******************** */
.pricing {
  padding: 9.6rem 0 8rem;
}

.pricing-heading {
  padding-bottom: 9.6rem;
}

.pricing-title {
  padding: 4.8rem 0 3.2rem 0;
  font-size: 2rem;
}

.pricing-grid {
  align-items: center;
  margin: 0 3.2rem;
  padding: 0 12.8rem;
  gap: 8rem;
  margin-bottom: 4.8rem;
}

.pricing-grid-head {
  font-weight: 600;
  font-size: 6.4rem;
  padding-bottom: 2rem;
  /* text-align: center; */
}

.pricing-box {
  text-align: center;
}

.pricing-list {
  padding: 0 5.4rem;
  line-height: 2;
}

.pricing-grid-head::first-letter {
  font-size: 3.2rem;
}

.pricing-extra-para {
  padding-bottom: 3.2rem;
}

.pricing-padding {
  padding-bottom: 1rem;
}

.pricing-btn {
  text-align: center;
  padding: 4.8rem 0;
}

.starter {
  border-radius: 0.8rem;
  border: 2px solid #fdf2e9;
}

.complete {
  /* border: 2px solid #fff; */
  border-radius: 0.8rem;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-extra-para {
  text-align: center;
}

.complete::after {
  content: "best value";
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  /* letter-spacing: 0.8px; */
  background-color: #ffd43b;
  padding: 0.8rem 4.4rem;

  position: absolute;
  top: 5%;
  right: -10%;
  transform: rotate(45deg);
  /* transform: translate(-100%, 0); */
}

/* ******************** */
/*** FEATURES SECTION ***/
/* ******************** */
.features {
  gap: 6.4rem;
  margin-bottom: 12.8rem;
}

.feature {
  display: flex;
  flex-direction: column;
  /* padding: -2.4rem 0; */
}

.features-icon {
  padding: 1.6rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  font-size: 3rem;
}

.features-head {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 2.4rem 0 1.6rem 0;
}

.features-para {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ******************** */
/*** CTA SECTION ***/
/* ******************** */
.section-cta {
  /* margin: 12.8rem 0; */
  padding-bottom: 9.6rem;
  /* border-bottom: 0.5px solid rgba(51, 51, 51, 0.1); */
}

.cta {
  display: grid;
  /* background-color: #cf711f; */
  /* max-width: 100%; */
  grid-template-columns: 2fr 1fr;
  border-radius: 0.8rem;
  overflow: hidden;
  color: #45260a;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.15);
}

.cta-img {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-heading {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 4.8rem 6.4rem 3.2rem 6.4rem;
}

.cta-para {
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 0 6.4rem 3.2rem 6.4rem;
}

/* Form Input */
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  padding: 6.4rem;
  padding-top: 0;
}

.cta-form label {
  font-size: 1.6rem;
  padding-bottom: 1.2rem;
  font-weight: 500;
  display: block;
}

.cta-form input,
.cta-form select,
.cta-btn {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #fdf2e9;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.cta-btn {
  padding: 1.2rem;
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #45260a;
  color: #fdf2e9;
  transition: all 0.5s;
}

.cta-btn:hover {
  color: inherit;
  background-color: #fdf2e9;
}

.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(250, 229, 211, 0.5);
}

/* ******************** */
/*** FOOTER SECTION ***/
/* ******************** */
.section-footer {
  background-image: url(../img/footer.jpg);
  background-size: cover;
}

.footer {
  /* margin: 12.8rem auto; */
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  padding: 12.8rem 0;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.social.logo {
  color: #333;
}

.social-link {
  display: flex;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
  line-height: 1.5;
}

.footer-head {
  font-size: 1.8rem;
  color: #767676;
  font-weight: 500;
  padding-bottom: 3.2rem;
  margin-bottom: 0.8rem;
}

.footer-logo ion-icon {
  color: #767676;
}

address {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.5;
}

.address {
  margin-bottom: 3.2rem;
}

.nav-col ul {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
